/* Import de fuentes */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* Etiquetas html */

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #DBE6FD;
    background: #DBE6FD url(../img/pattern.png) repeat;
    background-size: 500px;
}

h1, h2 {
    background-color: #47597E;
    color: #DBE6FD;
    font-weight: 700;
}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 20px;
}



/* header -------------------------------------------------------*/
header { 
    background-color: #47597E;
}

    /* Banner principal*/
.banner-cabecera { 
    background: #062855 url('../img/keyboard-2.png') no-repeat;
    background-size: cover;
    height: 300px;
}

.foto-perfil {
    background-color: rgba(219,230,253,0.3);
    border: solid 1px #DBE6FD ;
    border-radius: 20px;
    height: 200px;
    padding: 15px;
    position: absolute;
    right: 100px;
    top: 50px;
}

.encabezado {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 99;
}

    /* Barra de navegación */
nav {
    background-color: #293B5F;
}

nav a{
    text-decoration: none;
    color: #DBE6FD;
}


/* main ------------------------------------------------------------*/
main{
    margin: 50px auto; 
    max-width: 1041px;
}

    /* Encabezado de datos personales (todos los span dentro de una etiqueta con clase "datos-personales") */
.datos-personales span{ 
    font-style: italic;
    font-weight: bold;
}

    /* Encabezados de fechas (todos los span dentro de una etiqueta con clase "fecha") */
.fecha span{
    font-weight: bold;
}


/* footer --------------------------------------------------------*/
footer{
    background-color: #B2AB8C;
    color: #293B5F;
    font-size: 20px;
    text-align: center;
}
footer p a{
    color:#293B5F;
    font-size: 30px;
}



